@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

:root {
    --mainTextColor: #000;
    --secondaryTextColor: (51 51 51);
    --mainLinkColor: #0da2b8;
    --mainBorderColor: rgb(218, 218, 218);
    --mainBgColor: rgb(249, 250, 251);
}

*{
    font-family: 'Readex Pro'; 
    line-height: 1.5em; 
    box-sizing: border-box; 
    color: var(--mainTextColor); 
} 

 body{ 
    background-color: var(--mainBgColor);
}
p, span, li{ 
    color: var(--secondaryTextColor);  
    font-size: 1em;
} 
a { 
    text-decoration: none; 
    color: var(--mainLinkColor); 
    font-weight: 500;
} 
li { 
    line-height: 1.9em;
} 
.p-tag {
    color:red;
}
#main-container{ 
    max-width: 700px;
    margin: 0 auto;
    padding: 1em;
}
.page{ 
    padding-top: 1em;
    padding-bottom: 1em;
} 
#first-id{ 
    display: flex; 
    align-items: center; 
    gap: 4em;
} 
#bio, a{
    font-weight: 300;
}
#user-name{ 
    font-size: 48px; 
    line-height: 1em;
} 
#profile-pic{ 
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 50%;
} 
#email{ 
    color: var(--mainTextColor);
} 
#first-div{ 
    display: flex; 
    justify-content: space-between;
    column-gap: 1em; 
    flex-wrap: wrap;
}
#first-div a{ 
    font-weight: 300; 
    color: var(--secondaryTextColor);
    font-size: 0.9em; 
    transition: 0.3s;
} 
#first-div a:hover{ 
    font-weight: 100; 
    color: var(--mainLinkColor); 
    font-size: 0.9em;
} 
#qualifications-list{ 
    list-style: none;
}

#tech{ 
    display: flex; 
    flex-wrap: wrap; 
    gap: 1em; 
    font-size:0.9em;
} 
.tech-child{ 
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px; 
    padding: 0.5em 1em; 
    align-items:center;
} 
.project{ 
    padding-top: 1em; 
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor);
 } 
.project a{ 
    color: var(--mainTextColor);
    transition: 0.3s;
}

.project a:hover{ 
    color: rgb(30, 190,214); 
} 

@media(max-width:600px){ 
   .page{ 
           padding-top: 1em;
           padding-bottom: 1em; 
    }
    #first-id{ 
           display: flex; 
           align-items: center; 
           gap: 1em; 
    } 
    #profile-pic{
           width: 200px; 
           height: 200px; 
    } 
    #first-id{ 
           flex-direction: column; 
    }
}
    
